aenum
aiohttp
blendmodes
daltonlens
glfw
loguru
markdownify
matplotlib
mido[ports-rtmidi]
mss
numba
numpy>=1.26.4,<2.0.0; python_version < '3.12'
numpy>=2.0.0; python_version > '3.11'
opencv-contrib-python
Pillow
PyOpenGL
PyOpenGL-accelerate; python_version < '3.12'
pywin32; platform_system=="Windows"
requests
scikit-image
scikit-learn
SpoutGL; platform_system=="Windows"
stereoscopy[auto_align]
vnoise
pyobjc-framework-Quartz; platform_system=='Darwin'