torch
numpy
matplotlib
opencv-contrib-python
ffmpeg-python
librosa
loguru
moderngl
mss
requests
Pillow
pywin32==306; platform_system=="Windows"
scikit-image
blendmodes
mido[ports-rtmidi]
pyaudio
daltonlens
numba
PyOpenGL
PyOpenGL-accelerate
SpoutGL; platform_system=="Windows"
vnoise
stereoscopy[auto_align]
aenum<4,>=3.1.15