#jov-manager-dialog {
	width: 700px;
	height: 720px;
	box-sizing: content-box;
	z-index: 1;
}

.jov-menu-container {
	column-gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
}

.jov-menu-column {
	display: flex;
	flex-direction: column;
	flex: 1 1 1 auto;
}

.jov-title {
	background-color: black;
	text-align: center;
	height: 30px;
	width: calc(100% - 10px);
	font-weight: bold;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
}

#jov-close-button {
	width: calc(100% - 65px);
	bottom: 20px;
	position: absolute;
	overflow: hidden;
}

.jov-input:focus {
	outline: none;
}

.jov-tg {
  border-collapse:collapse;
  border-spacing:0;
  margin:0px auto;
}

.jov-tg td {
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:12px;
  overflow:hidden;
  padding:3px 3px;
  word-break:normal;
  text-align: right;
  color: aliceblue;
}

.jov-tg th {
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:5px 5px;
  word-break:normal;
}

.jov-color {
  border-color:inherit;
  text-align:center;
  vertical-align:middle;

	padding: .1em;
  width: 85px;
  height: 15px;
	border: 1px solid #aaa;
	border-radius: 0px;
  text-align: center;
}