/**
 * File: jovimetrix.css
 * Project: Jovimetrix
 */

#jov-manager-dialog {
  height: 630px;
  font-size: 1.0em;
  padding: 1px;
  z-index: 10000;
  overflow: visible;
  box-shadow: 0 0 3px #66AA667F;
}

.jov-config-column {
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 1 auto;
}

.jov-title {

  background-color: black;
  text-align: center;
  font-weight: bold;
}

#jov-close-button {
  width: calc(100% - 4px);
  bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 0px;
  position: absolute;
  overflow: hidden;
}

#jov-apply-button {
  position: absolute;
  width: 50px;
}

.jov-color {
  text-align: center;
  width: 35px;
  border: 1px solid #aaa;
}

tr, td {
  user-select: none;
}