/**
 * File: jovimetrix.css
 * Project: Jovimetrix
 */

 #jov-manager-dialog {
  height: 620px;
  padding: 0px;
  margin: 0px;
}

#jov-manager-dialog td {
  color: white;
  text-align: right;
}

.jov-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  border: 3px solid #AAA;
}

#jov-submit-cancel {
  width: 100%;
  padding: 10px;
  margin: 5px;
  background-color: #C43E3E;
  color: #222;
  border: none;
  border-radius: 5px;
}

#jov-submit-continue {
  width: 100%;
  padding: 5px;
  margin: 5px;
  background-color: #3EC43E;
  color: #222;
  border: none;
  border-radius: 5px;
}

.jov-modal-content h3, h4 {
  padding: 2px;
  margin: 2px;
}

.jov-config-color-header  {
  text-align: right;
}

.jov-config-color {
  overflow-x: auto;
  overflow-y: auto;
}

.jov-title {
  text-align: center;
}

.jov-title-header {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  background: linear-gradient(22deg, #ff0000 25%, #4c67dd 40%, #5ddd4c 50%, #dd4c4c 65%);
  clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#jov-apply-button {
  text-align: center;
}

#jov-manager-dialog button {
  background-color: #300000;
  color: #FFFFFF;
  padding: 4px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  margin:0px
}

#jov-close-button button {
  background-color: #202020;
  width: calc(100% - 2px);
  bottom: 2px;
  border: 2px solid #ccc;
  border-radius: 0px;
  position: absolute;
  overflow: hidden;
}

#jov-manager-dialog input {
  border-style: none;
  border-radius: 0px;
  font-size: unset;
}

.jov-color {
  text-align: center;

}

.jov-color tbody {
  user-select: none;
}

.jov-color tr, td {
  user-select: none;
}

.jov-color .foldable-title {
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.jov-color .foldable-symbol {
  margin-right: 10px;
}

.jov-color .foldable-content {
  display: none;
  flex-direction: column;
  margin-left: 20px;
}

.jov-hidden {
  visibility: hidden;
}

.jov-graph-tooltip {
	z-index: 99999;
	padding: 4px 4px;
	background: var(--comfy-input-bg);
	color: var(--input-text);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	transform: translate(5px, calc(-100% - 5px));
	max-width: 30vw;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	font-family: sans-serif;
  font-size: 0.9em;
	white-space: pre-wrap;
}

.jov-panel-doc {
  background: var(--comfy-menu-bg);
  color: var(--fg-color);
  font: 12px monospace;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  border: medium solid var(--border-color);
  overflow: auto;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: var(--fg-color) var(--bg-color);
}

.jov-panel-doc h2, .jov-panel-doc h3 {
  width: 100%;
  text-align: center;
  margin: 4px 0;
}

.jov-panel-doc p {
  text-align: center;
  max-width: 100%;
  margin: 2px auto;
}

.jov-panel-doc img {
  display: block;
  max-width: 640px;
  max-height: 70vh;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 4px auto;
}

.jov-panel-doc table {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--border-color);
}

.jov-panel-doc th, .jov-panel-doc td {
  padding: 2px;
  text-align: left;
}

.jov-panel-doc th {
  background-color: var(--comfy-input-bg);
  color: var(--input-text);
}

.jov-panel-doc tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.jov-panel-doc tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.jov-panel-doc footer {
  margin-top: 4px;
  text-align: center;
}

.jov-panel-doc a {
  color: yellow;
  text-decoration: none;
}

.jov-panel-doc a:visited {
  color: orange;
}

.jov-panel-doc a:hover {
  color: red;
  text-decoration: underline;
}

/* Scrollbar styling */
.jov-panel-doc::-webkit-scrollbar {
  width: 6px;
}

.jov-panel-doc::-webkit-scrollbar-track {
  background: var(--bg-color);
}

.jov-panel-doc::-webkit-scrollbar-thumb {
  background-color: var(--fg-color);
  border-radius: 6px;
  border: 3px solid var(--bg-color);
}

/* Embedded content */
.jov-panel-doc iframe,
.jov-panel-doc video,
.jov-panel-doc object,
.jov-panel-doc embed {
  max-width: 100%;
  max-height: 70vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* Media query for responsiveness */
@media screen and (max-width: 640px) {
  .jov-panel-doc {
    font-size: 12px;
    padding: 5px;
    width: 100%;
    height: 95vh;
  }

  .jov-panel-doc table {
    width: 100%;
  }

  .jov-panel-doc img,
  .jov-panel-doc iframe,
  .jov-panel-doc video,
  .jov-panel-doc object,
  .jov-panel-doc embed {
    max-height: 50vh;
    width: 100%;
  }
}

.jov-panel-doc-popup {
  position: absolute;
  line-height: 1.5em;
  z-index: 925;
  width: 315px;
  height: 295px;
  min-width: 215px;
  min-height: 85px;
  overflow: hidden;
}

.jov-panel-doc-popup img {
  display: block;
  margin: 5px;
  width: 95%;
}

.jov-panel-doc-popup table {
  border-collapse: collapse;
  border: 1px var(--border-color) solid;
}

.jov-panel-doc-popup th,
.jov-panel-doc-popup td {
  border: 1px var(--border-color) solid;
}

.jov-panel-doc-popup th {
  background-color: var(--comfy-input-bg);
}


/*
COLORIZATION STYLE
COLORIZATION STYLE
COLORIZATION STYLE
*/
.jov-panel-color {
  padding: 4px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  border-radius: 2px;
  border: medium solid var(--border-color);
  margin: 5px;
}

.jov-color-title {
  text-align: center;
}

.jov-panel-color-header {
  text-transform: uppercase;
}

.jov-panel-color table {
  width: 100%;
  border-collapse: collapse;
}

.jov-panel-color th,
.jov-panel-color td {
  border: 1px solid var(--border-color);
  background-color: var(--comfy-input-bg);
  color: var(--fg-color);
}

.jov-panel-color input[type="checkbox"] {
  text-align: center;
  margin-right: 5px;
}

.jov-panel-color #jov-color-apply {
  text-align: center;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.jov-panel-color-input {
  font-size: 1em;
  width: 25px;
}

.flexible-table {
  width: 100%;
  border-collapse: collapse;
}

.flexible-table td {
  vertical-align: middle;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .flexible-table, .flexible-table tbody, .flexible-table tr, .flexible-table td {
    display: block;
    width: 100%;
  }

  .flexible-table tbody {
      text-align: left;
  }

  .flexible-table tr {
    margin-bottom: 5px;
  }

  .flexible-table td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .flexible-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 3px;
    width: 45%;
    padding-right: 5px;
    white-space: nowrap;
    font-weight: bold;
  }
}